NODE_ENV="development"
BUNDLE_ANALYSER="true"
VITE_FRONTEND_API_ENDPOINT="http://localhost:8080"
VITE_PYLON_APP_ID="pylon-app-id"
VITE_APPCUES_APP_ID="appcess-app-id"
VITE_PYLON_IDENTITY_SECRET="pylon-identity-secret"
# Optional: override top-left displayed version/license tag in SideNav
# VITE_NAV_VERSION_OVERRIDE="v0.119.0"
# VITE_NAV_LICENSE_TAG_OVERRIDE="Free"

CI="1"
